<?xml version="1.0" encoding="UTF-8"?>
<config>
	<project>
		<name>siouxfalls</name>
		<output-dir>../output/</output-dir>
		<threads>4</threads>
		<log-level>INFO</log-level>
		<python-path>/usr/local/bin/python</python-path>
		<python-main>../python/ms/call_center.py</python-main>
		<java-path>/usr/bin/java</java-path>
		<matsim-jar>../matsim/matsim-r31927mod.jar</matsim-jar>
		<matsim-xmx>2g</matsim-xmx>
	</project>
	<scenario>
		<config>../scenarios/siouxfalls/config.xml</config>
		<network>../scenarios/siouxfalls/network.xml</network>
		<population>../scenarios/siouxfalls/population.xml</population>
		<facilities>../scenarios/siouxfalls/facilities.xml</facilities>
		<iterations>9</iterations>
	</scenario>
	<genetics>
		<population-size>24</population-size>
		<max-generations>200</max-generations>
		<elitism-rate>2.0</elitism-rate>
		<crossover-rate>1.0</crossover-rate>
		<mutation-rate>0.8</mutation-rate>
		<tournament-arity>4</tournament-arity>
	</genetics>
</config>