<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p (%t-%c{1}) %m%n" />
			<!-- <param name="ConversionPattern" value="%d{ISO8601} %-5p (%t:%c{1}) 
				%m%n" /> -->
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="trace" />
			<param name="LevelMax" value="info" />
		</filter>
	</appender>
	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p (%t-%c{1}) %m%n" />
			<!-- <param name="ConversionPattern" value="%d{ISO8601} %-5p (%t:%c{1}) 
				%m%n" /> -->
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="warn" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>


	<!-- Print only messages of level warn or above in the package com.foo -->
	<!-- <logger name="org.matsim">
		<level value="warn" />
	</logger> -->
	<logger name="org.matsim.core.network">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.scenario">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.population">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.utils">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.controler">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.events">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.mobsim">
		<level value="error" />
	</logger>
	<logger name="org.matsim.core.scoring">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.config">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.replanning">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.facilities">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.analysis">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.qbl">
		<level value="warn" />
	</logger>
	<logger name="org.matsim.core.gbl">
		<level value="warn" />
	</logger>
	


	<root>
		<priority value="debug"></priority>
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</root>
</log4j:configuration>
